# Log files and temporary files
*.log
*.tmp
*.swp

# Build/output directories
dist/
build/
bin/
obj/
logs/

# Dependency directories
node_modules/
venv/
.venv/
env/

# Environment and sensitive data
.env

.vercel
